<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rokada.rvk"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:name=".Global"
        android:allowBackup="true"
        android:icon="@mipmap/ikona_2"
        android:label="RISP SQL"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MeniActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PostavkeActivity" />
        <activity android:name=".InventuraActivity"/>
        <activity android:name=".IzdajaActivity" />
        <activity android:name=".IzborActivity" />
        <activity android:name=".UrediPostavkoActivity" />
        <activity android:name=".VnosSkladiscaActivity" />
        <activity android:name=".IzbiraDelovnegaNaloga" />
        <activity android:name=".UrediPostavkoIzdajaActivity" />
        <activity android:name=".IzbiraDelovnegaNalogaPovratnice" />
        <activity android:name=".PostavkePovratnica" android:windowSoftInputMode="stateVisible|adjustResize|adjustPan"/>
        <activity android:name=".UrediPostavkoPovratnicaActivity" />
        <activity android:name=".IzbiraNarocilnice" />
        <activity android:name=".PostavkePrevzemnica" />
        <activity android:name=".UrediPostavkoPrevzemnicaActivity" />
    </application>

</manifest>